html {
    background-color: #F5E9D4;
}

body {
    margin: 0px;
    font-family: "sono",Roboto, Poppins;
    color: #684200;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.68em;
}

a {
    color: #684200;
    text-decoration: none;
}

a:hover {
    color: #ff9100;
    text-decoration: underline;
}

p {
    margin: 0px;
}

.top-container {
    position: static;
    margin: 0px;
    display: block;
    border-bottom: #684200 3px solid;
}

.intro {
    position: absolute;
    top: 10em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.custom-padding {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    position: relative;
    width: calc(100% -60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #684200;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
}

.logo {
    float: left;
    padding-left: 1%;
}

#logo{
    position: relative;
    top: -9px;
    width: 34px;
    height: auto;
}

.menu-area li {
    display: inline-block;
}
.menu-area {
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-area a {
    color: #F5E9D4;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 15px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
}

.menu-area a:hover {
    background: #F5E9D4;
    color: #684200;
}

.middle-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0px;
    display: block;
}

.bottom-container {
    position: relative;
    margin: 0px;
    margin-top: 5px;
    display: block;
    border-top: #684200 1px solid;
    border-bottom: #684200 3px solid;
}

.addres {
    position: absolute;
    top: 0%;
    left: 10px;
}

.bg {
    position: relative;
    display: block;
    font-size: 5pc;
    text-align: center;
    color: #68420005;
}

.icons{
    position: relative;
    bottom: -6px;
}

.tell{
    position: relative;
    text-decoration: underline;
    bottom: 1px;
    left: 9px;
}

.toparrow{
    position: absolute;
    scale: 300% 400%;
    bottom: 30px;
    left: 95%;
}